<div class="">
  
 
     <input type="text" ng-model="search_stock"/>
     <input type="button" ng-click="stock.getStock()" value="Get stock">
    </div>
<p>
    <div>   
         <div class="">
            <h3>Stock information for, {{search_stock}}:</h3>
            <p>
                <div>
             Name: {{stock.details.name}}
                    </div>
            <div>
             Price: {{stock.details.lastTradePrice}}
            </div>
            <div>
             Change: {{stock.details.change}}
            </div>            
            <div>
             Volume: {{stock.details.volume}}
            </div>
            <div>
             Day low: {{stock.details.daysLow}}
            </div>
            <div>
             Day high: {{stock.details.daysHigh}}
            </div>
            <div>
             Year low: {{stock.details.yearLow}}
            </div>
            <div>
             Year high: {{stock.details.yearHigh}}
            </div>
            
           
       
        
        </div>
         <a ng-href="#!/welcome">Home</a>
    </div>